<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
</head>
<body>
    <section>
        <h1>View flight details here</h1>
        <h3>Flight Number</h3>
        <div><%= flightShow.flightNo %></div>
        <h3>Airline</h3>
        <div><%= flightShow.airline %></div>
        <h3>Origin Airport</h3>
        <div><%= flightShow.airport %></div>
        <h3>Departs</h3>
        <div><%= flightShow.departs %></div>
    </section>
    
    <br>
    <br>

    <section>
        <h1>Destination Input</h1>
        <form method="POST" action="/flights/<%= flightShow._id %>/destinations">

            <h3>Destination Airport</h3>
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="IAH">IAH</option>
                <option value="DFW">DFW</option>
                <option value="FOC">FOC</option>
                <option value="LAX">LAX</option>
                <option value="LHR">LHR</option>
            </select>
            <h3>Arrival</h3>
            <input type="date" name="arrival">
            <br>
            <br>
            <input type="submit" value="Add Destination">

        </form>
    </section>

    <br>
    <br>

    <section>
        <h1>Entered Destinations</h1>
        <% if (flightShow.destination.length) { %>

            <table>
                <thead>
                    <th>Destination</th>
                    <th>Arrival</th>
                </thead>
                <tbody>
                    <% flightShow.destination.forEach(function(d) {%>
                        <tr>
                            <td>
                                <%= d.airport %>
                            </td>
                            <td>
                                <%= d.arrival %>
                            </td>
                        </tr>    
                    <% }) %>
                </tbody>
            </table>
        
        <% } else { %>
            <p>No destination entered as of this point.</p>
        <% } %>
    </section>

    <section>
        <h1>Ticket</h1>
        <table>
            <thead>
                <th>Seat</th>
                <th>Price</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </section>
</body>
</html>
<%- include('../partials/footer') %>